:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


ul,
ol {
  list-style: none;
}


a {
  text-decoration: none;
  color: inherit;
}


html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}


button,
input,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}

